/* Universal elements */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


label {
  display: block;
}

button {
  padding: 5px 10px;
  background-color: lightgray;
  border: lightgrey 1px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
}

input {
  padding: 5px 10px;
  border-radius: 4px;
  border: black solid 1px;
  font-size: 1rem;
  
}

button:hover {
  cursor: pointer;
}

.large-button {
  background-color: #3a4ef1;
  border: #3a4ef1 solid 2px;
  color: white;
  width: 50%;
  padding: 10px 20px;
  font-weight: 500px;
  font-size: 18px;
  transition-duration: 0.4s;
}

.large-button:hover {
  background-color: white;
  color: black;
}

#app {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

#header {
  height: 2rem;
  background: -webkit-linear-gradient(to left,#32dfce,#6f54f8);
  background: linear-gradient(to left,#32dfce,#6f54f8); 
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  vertical-align: middle;
  padding: 1rem 0;
}

#card {
  height: 250px;
  max-width: 500px;
  box-sizing: border-box;
  padding: 0 50px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 2em;
}

#deck-preview-wrapper {
  margin: 100px 0;
  border-top: 1px solid black;
}

#results-table {
  margin: 0 auto;
}

#results-table th {
  font-size: 1.5rem;
}

#results-table td {
  padding: 50px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 500;
}

.control-group {
  margin-top: 50px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width:120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;

  font-size: 1rem;
  font-weight: 400;

  position: absolute;
  z-index: 1;
  top: 103%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::before {
  content: "";
  position:absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid grey;
  top: -5px;
  left: 55px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* Conditional rendering */
.show-cursor {
  cursor: pointer;
}
.blue {
  background-color: lightblue;
}
.grey {
  background-color: lightgrey;
}
.green {
  background-color: lightgreen;
}
.red {
  background-color: lightcoral;
}
.orange {
  background-color: lightsalmon;
}